<section>
  <form [formGroup]="form" (ngSubmit)="save()">
    <div>
      <div>
        <div>
          <h3>Profile</h3>
          <p>
            This information will be displayed publicly so be careful what you
            share.
          </p>
        </div>

        <div>
          <div class="">
            <label for="name">Name</label>
            <div>
              <input
                type="text"
                id="name"
                formControlName="name"
                class="block w-full min-w-0 flex-1 rounded-md border-gray-300 focus:border-indigo-500 focus:ring-indigo-500"
              />
              <div
                *ngIf="
                  form.get('name').dirty &&
                  form.get('name').hasError('required')
                "
              >
                Field is required
              </div>
              <div
                *ngIf="
                  form.get('name').dirty &&
                  form.get('name').hasError('minlength')
                "
              >
                Field should be at least...
              </div>
              <div
                *ngIf="
                  form.get('name').dirty &&
                  form.get('name').hasError('maxlength')
                "
              >
                Field should be maximum...
              </div>
            </div>
          </div>
          <div class="">
            <label for="bio">Bio</label>
            <div>
              <textarea id="bio" formControlName="bio" rows="3"></textarea>
              <p>Write a few sentences about yourself.</p>
            </div>
          </div>

          <mv-file-upload formControlName="poster"></mv-file-upload>

          <div class="">
            <label for="country">Country</label>
            <div>
              <select
                id="country"
                formControlName="country"
                autocomplete="country-name"
              >
                <option>United States</option>
                <option>Canada</option>
                <option>Mexico</option>
              </select>
            </div>
          </div>

          <div class="">
            <label for="birthDate">Birth Date</label>
            <div>
              <div>
                <input
                  type="date"
                  id="birthDate"
                  formControlName="birthDate"
                  autocomplete="username"
                />
              </div>
            </div>
          </div>

          <div class="">
            <label for="movies">Movies</label>
            <div>
              <select
                multiple
                id="movies"
                formControlName="movies"
                autocomplete="country-name"
                class="block w-full max-w-lg rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500"
              ></select>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div>
      <div>
        <button type="button">Cancel</button>
        <button type="submit" [disabled]="form.invalid">Save</button>
      </div>
    </div>
  </form>
</section>
