<section class="border border-gray-200 rounded-md mx-auto my-4 p-8 w-5/6">
  <form [formGroup]="form" (ngSubmit)="save()" autocomplete="off">
    <div class="child:border-b child:py-4 child:border-b-gray-200">
      <div class="">
        <h3 class="text-xl font-medium">Create a Talent</h3>
        <p class="text-slate-500 text-sm">Some useful information here</p>
      </div>

      <div class="flex items-center">
        <label for="name" class="basis-1/3 text-sm font-medium text-slate-600"
          >Name<span class="text-red-500">*</span></label
        >
        <div class="basis-1/3">
          <input
            type="text"
            id="name"
            formControlName="name"
            class="border rounded-md border-slate-300 w-full"
          />
          <p
            *ngIf="
              form.get('name').touched && form.get('name').hasError('required')
            "
            class="text-sm text-red-500 mt-1"
          >
            This field is required
          </p>
          <p
            *ngIf="
              form.get('name').touched && form.get('name').hasError('minlength')
            "
            class="text-sm text-red-500 mt-1"
          >
            This field should be at least
            {{ form.get('name').errors.minlength.requiredLength }} characters
            long
          </p>
          <p
            *ngIf="
              form.get('name').touched && form.get('name').hasError('maxlength')
            "
            class="text-sm text-red-500 mt-1"
          >
            This field should be less than
            {{ form.get('name').errors.maxlength.requiredLength }} characters
            long
          </p>
        </div>
      </div>
      <div class="flex items-center">
        <label for="bio" class="basis-1/3 text-sm font-medium text-slate-600"
          >Bio<span class="text-red-500">*</span></label
        >
        <div class="basis-1/3">
          <textarea
            id="bio"
            formControlName="bio"
            rows="3"
            class="border rounded-md border-slate-300 w-full"
          ></textarea>
          <p class="text-sm text-slate-500">
            Write a few sentences about yourself.
          </p>
          <p
            *ngIf="
              form.get('bio').touched && form.get('bio').hasError('required')
            "
            class="text-sm text-red-500 mt-1"
          >
            This field is required
          </p>
        </div>
      </div>

      <mv-file-upload class="block" formControlName="poster"></mv-file-upload>

      <div class="flex items-center">
        <label
          for="country"
          class="basis-1/3 text-sm font-medium text-slate-600"
          >Country</label
        >
        <div class="basis-1/3">
          <select
            id="country"
            formControlName="country"
            autocomplete="country-name"
            class="border rounded-md border-slate-300 w-full"
          >
            <option>United States</option>
            <option>Canada</option>
            <option>Mexico</option>
          </select>
        </div>
      </div>

      <div class="flex items-center">
        <label
          for="birthDate"
          class="basis-1/3 text-sm font-medium text-slate-600"
          >Birth Date<span class="text-red-500">*</span></label
        >

        <div class="basis-1/3">
          <input
            type="date"
            id="birthDate"
            formControlName="birthDate"
            autocomplete="username"
            class="border border-slate-300 rounded-md"
          />
          <p
            *ngIf="
              form.get('birthDate').touched &&
              form.get('birthDate').hasError('required')
            "
            class="text-sm text-red-500 mt-1"
          >
            This field is required
          </p>
        </div>
      </div>

      <div class="flex items-center">
        <label for="movies" class="basis-1/3 font-medium text-sm text-slate-600"
          >Movies</label
        >
        <div class="basis-1/3">
          <select
            multiple
            id="movies"
            formControlName="movies"
            autocomplete="country-name"
            class="w-full border border-slate-300 rounded-md"
          ></select>
        </div>
      </div>
    </div>

    <div class="flex gap-3 justify-end items-center mt-6">
      <button
        type="button"
        class="border rounded-md border-slate-300 font-medium text-sm py-2 px-4"
      >
        Cancel
      </button>
      <button
        type="submit"
        [disabled]="form.invalid"
        class="border rounded-md border-transparent font-medium text-sm py-2 px-4 bg-teal-500 text-white disabled:bg-slate-300"
      >
        Save
      </button>
    </div>
  </form>
</section>
